<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Entradas
        <small></small>
      </h1>
      <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a >Compras</a></li>
          <li class="active">Entradas</li>
        </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Bordered Table</h3>
              <div class="box-tools pull-right">
                  <a routerLink="nuevo" class="btn btn-sm btn-success" ><i class="fa fa-plus"></i>
                  </a>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered" style="height: 340px;">
                <tbody>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoria</th>
                    <th>Imagen</th>
                    <th>Opciones</th>
                 </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>